In [10]:
#if Statement Nested
x = 5
y = 10
a = 20
b = 20
c = 15
d = 15
e = 25
f = 2
g = 0
h = 20

if c == d:
    if x == y:
        g = h
        print(g)
    elif a == b:
        g = h
        print(g)
    else:
        e = f
        print(e)
else:
    e = f
    print(f)

20

In [5]:
#indentation

a = 10
b = 5

if a == b:    
    
print("True")

else:
    
print("False")

False

In [13]:
#Comments
#what is your name?
'''
what is your name?
what is your name?
what is your name?
what is your name?
'''

'\nwhat is your name?\nwhat is your name?\nwhat is your name?\nwhat is your name?\n'

In [22]:
name = ["Zunaib","Bilal","Ali",25,False,15.2]

print("Welcome to " + name[2])

Welcome to Ali

In [26]:
name.append("Huzaifa")
print(name)

['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa', 'Huzaifa', 'Huzaifa']

In [28]:
name = ['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa']
print(name)

['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa']

In [29]:
#Append Fuction
name.append("Zubair")
print(name)

['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa', 'Zubair']

In [30]:
name.append("Alisha")
print(name)

['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa', 'Zubair', 'Alisha']

In [32]:
#Insert Fuction
name.insert(1 , "Ahmed")
print(name)

['Zunaib', 'Ahmed', 'Ahmed', 'Bilal', 'Ali', 25, False, 15.2, 'Huzaifa', 'Zubair', 'Alisha']

In [33]:
name = ['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Alisha']
print(name)

['Zunaib', 'Bilal', 'Ali', 25, False, 15.2, 'Alisha']

In [34]:
#Change Values
name[2] = "Ahmed"
print(name)

['Zunaib', 'Bilal', 'Ahmed', 25, False, 15.2, 'Alisha']

In [35]:
#Slice
arr = name[0:3]
print(arr)

['Zunaib', 'Bilal', 'Ahmed']

In [37]:
arr = name[0 : ]
print(arr)

['Zunaib', 'Bilal', 'Ahmed', 25, False, 15.2, 'Alisha']

In [38]:
arr

['Zunaib', 'Bilal', 'Ahmed', 25, False, 15.2, 'Alisha']

In [39]:
#Delete Valuse by index number
del arr[5]
print(arr)

['Zunaib', 'Bilal', 'Ahmed', 25, False, 'Alisha']

In [43]:
arr.remove(False)
print(arr)

ValueError: list.remove(x): x not in list

In [44]:
#Remove Valuse by Name

arr.remove("Alisha")
print(arr)

['Zunaib', 'Bilal', 'Ahmed', 25]

In [45]:
#Pop
a = arr.pop(1)
print(a)

Bilal

In [46]:
arr

['Zunaib', 'Ahmed', 25]

In [47]:
b = arr.pop(0)
print(b)

Zunaib

In [49]:
arr

['Ahmed', 25]

In [50]:
b = arr.pop()
print(b)

25

In [51]:
name = ['Zunaib', 'Bilal', 'Ahmed', 25, False, 'Alisha']
print(name)

['Zunaib', 'Bilal', 'Ahmed', 25, False, 'Alisha']

In [53]:
name.pop()
print(name)

['Zunaib', 'Bilal', 'Ahmed', 25]

In [54]:
name.pop()
print(name)

['Zunaib', 'Bilal', 'Ahmed']