In [19]:
#function

def add_num():
    a = 2
    b = 2
    c = a + b
    print(c)

add_num()

4

In [18]:
add_num()
add_num()
add_num()
add_num()

4
4
4
4

In [21]:
def add_num(a,b):
    c = a + b
    print(c)

add_num(5,3)
add_num(2,4)
add_num(3,7)
#(a,b) is called parameter,add_num(2,3) 2 and 3 are called arguments

8
6
10

In [22]:
def fullName(fname,lname):
    c = fname + lname
    print(c)
    
fname = input("write first name: ")
lname = input("write last name: ")
fullName(fname,lname)

write first name: Noman
write last name: Ahmed
NomanAhmed

In [49]:
def fullName(fname,lname):
    c = fname + lname
    print(c)
    
fullName("Noman ","Ahmed")

Noman Ahmed

In [28]:
def add_num(a,b):
    c = a + b
    print(c)
    
def sub_num(a,b):
    c = a - b
    print(c)

def mul_num(a,b):
    c = a * b
    print(c)
    
def div_num(a,b):
    c = a / b
    print(c)
    
add_num(15,5)
sub_num(15,5)
mul_num(15,5)
div_num(15,5)

20
10
75
3.0

In [48]:
#positional arguments
def fullName(fname,lname):
    c = fname + lname
    print(c)
    
fullName("Noman ","Ahmed")

Noman Ahmed

In [47]:
#keyword argument

def fullName(fname, lname):
    c = fname + lname
    print(c)
    
fullName(lname = "Ahmed",fname = "Noman ")

Noman Ahmed

In [58]:
def fullName(fname, lname,class1 = "4th ",age = "5 years"):
    c = fname + lname + class1 + age
    print(c)
    
fullName("Noman ","Ahmed ")

Noman Ahmed 4th 5 years

In [59]:
#exception case one student's age is 6
def fullName(fname, lname,class1 = "4th ",age = "5 years"):
    c = fname + lname + class1 + age
    print(c)
    
fullName("Bilal ","Ahmed ",age = "6 years")

Bilal Ahmed 4th 6 years

In [63]:
#mixing keyword and positional argument

def fullName(fname, lname,class1 = "4th ",age = "5 years"):
    c = fname + lname + class1 + age
    print(c)
    
fullName("Bilal ","Ahmed ",age = "6 years",class1 = "4th ")

Bilal Ahmed 4th 6 years

In [74]:
#add other information multiple time 
def fullName(fname, lname, *other_info):
    print(fname, lname, other_info)
    
fullName("Bilal ","Ahmed ","Mengal ","5th","6 years",)

Bilal  Ahmed  ('Mengal ', '5th', '6 years')