In [1]:
print("Noor e Hamza")

Noor e Hamza

In [2]:
#print functiom
print("Noor e Hamza Islamic college")

Noor e Hamza Islamic college

In [10]:
'''
good and services
good and services
'''
print ("noor")

noor

In [12]:
#variable
college ="Noor e Hamza"
print(college)

Noor e Hamza

In [14]:
First_name="Noman"
Last_name="Ahmed"
print(First_name)
print(Last_name)

Noman
Ahmed

In [15]:
First_name="Noman"
Last_name="Ahmed"
print(First_name + Last_name)

NomanAhmed

In [22]:
#concatenation
First_name="Noman"
Last_name="Ahmed"
print(First_name + " " + Last_name)

Noman Ahmed

In [23]:
name='Noman'
print(name)

Noman

In [25]:
number=211
print(number)

211

In [26]:
number=5
print(number + 2)

7

In [2]:
number="5"
print(number + " " + "2" )

5 2

In [3]:
print (2 + 2)

4

In [4]:
print(4-2)

2

In [5]:
print(2 * 2)

4

In [7]:
print (4 / 2)

2.0

In [8]:
a= 2
b= 2
print(a + b)

4